<!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
        <div class="container">
  
          <header class="section-header">
            <h3>Servicios</h3>
            <p>Servicio técnico para equipo informático  de escritorio o notebook</p>
          </header>
  
          <div class="row">
  
            <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ec3874;"></i></div>
                <h4 class="title"><a href="">Limpieza de equipos</a></h4>
                <p class="description">Realizamos la limpieza de su equipo, cambio de pasta térmica, etc.</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #aa8c07;"></i></div>
                <h4 class="title"><a href="">Restauración de equipos</a></h4>
                <p class="description">Formateo, carga del S.O., instalación de paquete office, y antivirus. </p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon"><i class="ion-ios-paper-outline" style="color: #1f8f89;"></i></div>
                <h4 class="title"><a href="">Actualizaciones</a></h4>
                <p class="description">Actualizaciones de Hardware y Software</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon"><i class="ion-ios-clock-outline" style="color: #4680ff;"></i></div>
                <h4 class="title"><a href="">Cambio de Pantallas</a></h4>
                <p class="description">Se realiza el cambio de pantallas en notebooks y netbooks</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- #services -->
