<!--==========================
      Team Section
    ============================-->
    <section id="team">
        <div class="container">
          <div class="section-header">
            <h3>Equipo</h3>
            <p>Equipo de personas calificadas, que hacen sentir al cliente en confianza y familia</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-3 col-md-6 wow fadeInUp">
              <div class="member">
                <img src="assets/img/team-1.jpg" class="img-fluid" class="rounded-circle" alt="">
                </div>
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Gastón Terzano</h4>
                  <span>Gerente Técnico</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="member">
                <img src="assets/img/team-2.jpg" class="img-fluid" class="rounded-circle" alt="">
              </div>
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Cecilia Ocampos</h4>
                  <span>Gerenta Administrativa</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
              <div class="member">
                <img src="assets/img/team-3.jpg" class="img-fluid" class="rounded-circle" alt="">
              </div>
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Thiago Cáceres</h4>
                  <span>Equipo de Diseño</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="member">
                <img src="assets/img/team-4.jpg" class="img-fluid" class="rounded-circle" alt="">
              </div>
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Milena Colombo</h4>
                  <span>Equipo de Diseño</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- #team -->